
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="pingback" href="xmlrpc.php">
    <title>ExamSpur - ErrorPage </title>
    <link rel="alternate" type="text/calendar" title="ExamSpur - Online Mock" href="events/indexedf3.html" />
    <link rel="alternate" type="application/rss+xml" title="ExamSpur - Online Mock" href="home/feed/index.html" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
        .error404 {
            background-image: url(/examspur_img/e404.jpg);
        }
    </style>
    <link rel='stylesheet' id='lp-course-wishlist-style-css' href='/wp-content/plugins/learnpress-wishlist/assets/css/wishlist1845.css' type='text/css' media='all' />
    <link rel='stylesheet' id='icomoons-css' href='/wp-content/themes/taalem/css/icomoon.min8a54.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bbp-default-css' href='/wp-content/plugins/bbpress/templates/default/css/bbpress01c4.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='contact-form-7-css' href='/wp-content/plugins/contact-form-7/includes/css/stylesce52.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='/wp-content/plugins/revslider/public/assets/css/settings03e2.css' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='woocommerce-general-css' href='~/wp-content/plugins/woocommerce/assets/css/woocommerce46df.css' type='text/css' media='all' />
    <link rel='stylesheet' id='wsl-widget-css' href='/wp-content/plugins/wordpress-social-login/assets/css/style1845.css' type='text/css' media='all' />
    <link rel='stylesheet' id='taalem-fonts-css' href='https://fonts.googleapis.com/css?family=Poppins%3A400%2C600%2C500%2C300%2C700%7COswald%3A400%2C500%2C600%2C700&amp;subset=latin%2Clatin-ext&amp;ver=20170821' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min5243.css' type='text/css' media='all' />
    <link rel='stylesheet' id='icomoon-css' href='/wp-content/themes/taalem/css/icomoon.min8a54.css' type='text/css' media='all' />
    <link rel='stylesheet' id='linearicons-css' href='/wp-content/themes/taalem/css/linearicons.min8a54.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='/wp-content/themes/taalem/css/bootstrap.min7433.css' type='text/css' media='all' />
    <link rel='stylesheet' id='exampur-css' href='/wp-content/themes/taalem/styled172.css' type='text/css' media='all' />
    <style id='taalem-inline-css' type='text/css'>
        .topbar {
            background-color: #D42A2A;
        }

        .footer-layout.footer-layout-1 {
            background-image: url('../ExamSpur_Img/Slide-7.jpg') !important;
        }

        body {
            font-weight: 400;
        }

        .site-header .primary-nav ul li .dropdown-submenu a {
            font-weight: 400;
        }
    </style>
    <link rel='stylesheet' id='photoswipe-css' href='/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe46df.css' type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-default-skin-css' href='~/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin46df.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='/wp-content/plugins/js_composer/assets/css/js_composer.min5243.css' type='text/css' media='all' />
    <link rel='stylesheet' id='taalem-style-switcher-css' href='/wp-content/plugins/taalem-style-switcher/style1845.css' type='text/css' media='all' />
    <link rel='stylesheet' id='learn-press-css' href='/wp-content/plugins/learnpress/assets/css/learnpress8571.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-scrollbar-css' href='/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbar8571.css' type='text/css' media='all' />
    <script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js'></script>
    <script type='text/javascript'>
        var userSettings = {
            "url": "\/",
            "uid": "0",
            "time": "1529597672",
            "secure": ""
        };
    </script>
    <link rel='//api.w.org/' href='~/wp-json/index.html' />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.6" />
    <meta name="generator" content="WooCommerce 3.3.5" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed97de.json" />
    <link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed5956" />
    <meta name="tec-api-version" content="v1">
    <meta name="tec-api-origin" content="">
    <link rel="author" href="~/wp-json/tribe/events/v1/index.html" />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <meta name="generator" content="Powered by Slider Revolution 5.4.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script>
    <style type="text/css" id="wp-custom-css">
        /*
        You can add your own CSS here.

        Click the help icon above to learn more.
        */

        .footer-layout-1 .footer-contact-info {
            color: #bababa;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 3px;
        }

        .tl-pricing .pricing-box .pricing-info .p-money .p-price {
            font-size: 25px !important;
            font-weight: 700;
            float: left;
            line-height: 1;
            position: relative;
        }

        .footer-layout-1 .footer-contact-info i {
            color: #D42A2A;
            padding-right: 10px;
        }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1506753519413 {
            background-color: #D42A2A !important;
        }

        .vc_custom_1506753823830 {
            background-image: url('../wp-content/uploads/sites/30/2013/03/h14cd2.jpg') !important;
        }

        .vc_custom_1506583680033 {
            padding-top: 55px !important;
            padding-bottom: 35px !important;
        }

        .vc_custom_1504940970457 {
            padding-bottom: 55px !important;
        }

        .vc_custom_1506494495909 {
            margin-top: -40px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>


<body class="error404 woocommerce-no-js tribe-no-js has-topbar full-content header-layout-1 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
    <div id="page" class="hfeed site">
        <div id="taalem-before-unloader" class="taalem-before-unloader">
            <span class="loading-icon">
                <span class="bubble"> <span class="dot"></span> </span> <span class="bubble"> <span class="dot"></span> </span> <span class="bubble"> <span class="dot"></span> </span>
            </span>
        </div>
        <div id="header-sticky-sep" class="header-sticky-sep"></div>
        <header id="masthead" class="site-header">
            <div class="logo">
                <a href="/Home/Index"> <img alt="ExamSpur" src="/ExamSpur_Img/logo.jpg" /> </a>
            </div>
            <p class="site-title"><a href="/Home/Index" rel="home">ExamSpur</a></p>
            <h2 class="site-description">An Online hub for exam preparation</h2>
        </header>
        <div id="content" class="site-content">
            <div class="container">
                <div class="row">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <section class="error-404 not-found">
                                <div class="page-content col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                    <p>We are really sorry, but the page you requested is missing..</p>
                                    <p> Perhaps searching again can help. Or back to <a href="/Home/Index">home page</a></p>
                                    <h2>Error</h2>
                                    <h1 class="page-title">404</h1>
                                    <h3>This page cannot be found</h3>

                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <footer id="site-footer" class="site-footer">
            <nav class="footer-layout footer-layout-404">
                <div class="footer-content">
                    <div class="container">
                        <div class="404-footer-copyright">&copy; @DateTime.Now.Year - mcAdware Solutions</div>
                    </div>
                </div>
            </nav>
        </footer>
    </div>
    <script>
        (function (body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);
    </script>
    <script type='text/javascript'>
        var wpcf7 = {
            "apiSettings": {
                "root": "\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "recaptcha": {
                "messages": {
                    "empty": "Please verify that you are not a robot."
                }
            },
            "cached": "1"
        };
    </script>
    <script type='text/javascript'>
        var woocommerce_params = {
            "ajax_url": "\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/taalem\/?wc-ajax=%%endpoint%%"
        };
    </script>
    <script type='text/javascript'>
        var wc_cart_fragments_params = {
            "ajax_url": "\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/taalem\/?wc-ajax=%%endpoint%%",
            "cart_hash_key": "wc_cart_hash_cb4866157dee7800245c68c4a47c00e5",
            "fragment_name": "wc_fragments_cb4866157dee7800245c68c4a47c00e5"
        };
    </script>
    <script type='text/javascript'>
        var taalemData = {
            "ajax_url": "\/wp-admin\/admin-ajax.php",
            "nonce": "5f8fbbaa23",
            "days": "days",
            "hours": "hours",
            "minutes": "minutes",
            "seconds": "seconds",
            "sticky_header": "1",
            "header_transparent": "0"
        };
    </script>
    <script type='text/javascript'>
        WebFont.load({
            google: {
                families: ['Poppins:700,600,400:cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese,hebrew,arabic,bengali,gujarati,tamil,telugu,thai']
            }
        });
    </script>
    <script type='text/javascript'>
        var taalemShortCode = {
            "course": {
                "course-slider-5b2bcee8aed83": {
                    "nav": false,
                    "dot": false,
                    "autoplay": false,
                    "autoplay_speed": 800,
                    "autoplay_timeout": 4000,
                    "is_carousel": 0
                }
            },
            "tl_events": {
                "tl-events-slider-5b2bcee8c8e26": {
                    "columns": 2,
                    "nav": true,
                    "dot": false,
                    "autoplay": false,
                    "autoplay_speed": 800,
                    "autoplay_timeout": 4000
                }
            }
        };
    </script>
    <script type='text/javascript'>
        var mc4wp_forms_config = [];
    </script>
    <script type='text/javascript'>
        var lpGlobalSettings = {
            "url": null,
            "siteurl": "\/taalem",
            "ajax": "\/wp-admin\/admin-ajax.php",
            "theme": "taalem"
        };
    </script>
    <script type='text/javascript'>
        var lpCheckoutSettings = {
            "ajaxurl": "\/taalem",
            "user_waiting_payment": null,
            "user_checkout": "",
            "i18n_processing": "Processing",
            "i18n_redirecting": "Redirecting",
            "i18n_invalid_field": "Invalid field",
            "i18n_unknown_error": "Unknown error",
            "i18n_place_order": "Place order"
        };
    </script>
    <script type='text/javascript'>
        var lpProfileUserSettings = {
            "processing": "Processing",
            "redirecting": "Redirecting",
            "avatar_size": {
                "width": 300,
                "height": 300
            }
        };
    </script>
    <script type='text/javascript'>
        var lpCourseSettings = [""];
    </script>
    <script type='text/javascript'>
        var lpQuizSettings = [];
    </script>
    <script type="text/javascript" defer src="/wp-content/cache/autoptimize/30/js/autoptimize_a37655656a609cf796973e62d5277ac5.js"></script>
</body>
</html>
