@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
<link href="~/vendors/pnotify/dist/pnotify.css" rel="stylesheet" />
<link href="~/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet" />
<link href="~/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet" />
<style>
    h1, h2, h3, h4, h5, h6, p, li, div, input, th, td {
        font-family: 'ABeeZee', sans-serif;
    }
</style>

<div style="margin:auto;width:50%;padding:10px">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title bg-red">
                    <h2>Change Password</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="label label-info">Old Password</label>
                                <input type="password" class="form-control" id="oldpass" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="label label-info">New Password</label>
                                <input type="password" class="form-control" id="newpass" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="label label-info">Confirm New Password</label>
                                <input type="password" class="form-control" id="cnewpass" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group" style="margin:auto!important;width:50%">
                                <button type="button" class="btn btn-success"  id="btnchange">Change Password</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendors/pnotify/dist/pnotify.js"></script>
<script src="~/vendors/pnotify/dist/pnotify.buttons.js"></script>
<script src="~/vendors/pnotify/dist/pnotify.nonblock.js"></script>
<script>

     $("#btnchange").click(function () {
                change();
            });

            function change() {
                $("#btnchange").attr("disabled", "disabled").html("<i class=\" fa fa-spin fa-spinner\"></i>");
                var oldpass = $("#oldpass").val();
               
                var newpass = $("#newpass").val();
                var cnewpass = $("#cnewpass").val();
                if (oldpass=="") {
                    new PNotify({
                        title: '',
                        text: 'Please enter your previous password',
                        type: 'error',
                        hide: 'false',
                        styling: 'bootstrap3',
                    });
                    $("#btnchange").removeAttr("disabled").html("Change Password");
                    return;
                }
                if (newpass == "" || newpass.length<4) {
                    new PNotify({
                        title: '',
                        text: 'Please enter a password of atleast 4 characters',
                        type: 'error',
                        hide: 'false',
                        styling: 'bootstrap3',
                    });
                    $("#btnchange").removeAttr("disabled").html("Change Password");
                    return;
                }
                if (newpass != cnewpass) {
                    new PNotify({
                        title: '',
                        text: 'Your new password does not match',
                        type: 'error',
                        hide: 'false',
                        styling: 'bootstrap3',
                    });
                    $("#btnchange").removeAttr("disabled").html("Change Password");
                    return;
                }
                var obj = {};
                obj.email = "@Session["email"]";
                obj.oldpass = oldpass;
                obj.newpass = newpass;
                var jsonData = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePassword", "Account")",
                    contentType: "Application/json",
                    data: jsonData,
                    dataType: "json",
                    success: function(response){
                    if (response.value == 1) {
                    new PNotify({
                    title: '',
                    text: response.msg,
                    type: 'success',
                    hide: 'true',
                    styling: 'bootstrap3',
                        });
                        $(".form-control").val("");
                    }
                    else {
                    new PNotify({
                    title: 'Ooops!!!',
                    text: response.msg,
                    type: 'error',
                    hide: 'false',
                    styling: 'bootstrap3',
                    })

                    };
                    $("#btnchange").removeAttr("disabled").html("Change Password");
                    },
                    error: function (error) {
                    new PNotify({
                    title: 'Something Went Wrong',
                    text: "We are working to fix this as soon as possible. Kindly try again later",
                    type: 'error',
                    hide: 'false',
                    styling: 'bootstrap3',
                    });
                    $("#btnchange").removeAttr("disabled").html("Change Password");
                    }

                    });
                    }

                    $("#newpass").keydown(function (e) {
                    if (e.keyCode == 13) {
                    login();
                    }
                    });
                    $("#username").keydown(function (e) {
                    if (e.keyCode == 13) {
                    login();
                    }
                    });
                    $("#cnewpass").keydown(function (e) {
                    if (e.keyCode == 13) {
                    login();
                    }
                    });




</script>